*,
*::before,
::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}


/*HEADER SECTION**********************************/


.header {
    background-image: url(mobileimages/colosseum-rome-italy-2064827%201.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
}

.flag_wrapper {
    align-self: flex-start;
}

.flag_image {
    width: 100%;
    height: auto;
}

.nav_wrapper {
    padding-right: 5rem;
}

.nav_text {
    color: #CD212A;
    text-decoration: none;
    padding: 0 1.7rem;
    cursor: pointer;
    font-size: 1.5rem;
}

.contact {
    background: #CD212A;
    color: white;
    border-radius: 10px;
    padding: 0.5rem;
}

.header_title_wrapper {
    padding: 5rem 0 1rem;
    text-align: center;
}

.header_title {
    display: inline-block;
    color: #FFF;
    font-size: 4rem;
    background: rgba(0, 0, 0, 0.7);
    padding: 1rem 2rem;
    font-weight: 400;
}

.header_title span {
    color: #CD212A;
    text-decoration: underline;
    margin-left: 0.5rem;
}

.header_logos_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.logos {
    border-radius: 50%;
    background-color: white;
    text-decoration: none;
    text-align: center;
    width: 90px;
    height: 90px;
    padding: 1.5rem 1rem;
    margin: 2em;
}

.logos i {
    color: #CD212A;
    font-size: 2.7rem;
}


/*ABOUT SECTION**********************************/


.About h2 {
    color: #CD212A;
    font-size: 5.5rem;
    font-weight: 200;
    text-align: center;
    padding: 1.5rem 0;
}

.About p {
    line-height: 1.5;
    text-align: center;
    padding: 1rem 2rem;
    font-size: 0.7rem;
}


/*GUIDES SECTION**********************************/


.Guides {
    background-color: #CD212A;
    margin-top: 2rem;
}

.Guides_individual {
    text-align: center;
    padding: 2rem 3rem;
}

.Guides h2 {
    color: #FFF;
    font-size: 5.5rem;
    font-weight: 200;
    text-align: center;
    padding: 1.5rem 0 1rem 0;
}

.guide_img {
    width: 25%;
    height: auto;
}

.guide_name {
    color: white;
    font-weight: 200;
    font-size: 2.2rem;
    padding: 1rem 0;
}

.guide_info {
    color: white;
    font-weight: 200;
    font-size: 0.9rem;
    line-height: 1.6;
    padding: 1rem 0;
}



